<div class="game">
  <div class="game__wrapper" *ngIf="!hasStarted">
    <button class="game__start" (click)="handleStartGameClick()">
      start
    </button>
    <select name="timer" id="timer" [(ngModel)]="timer">
      <option
        *ngFor="let timerOption of timerOptions"
        [ngValue]="timerOption"
        >{{ timerOption }}</option
      >
    </select>
  </div>

  <div class="game__wrapper" *ngIf="hasStarted">
    <div class="game__count">
      <span>Clicks: {{ count }}</span>
    </div>
    <button class="game__clicker" (click)="handleCountClick()">
      click
    </button>
    <app-timer
      class="game__timer"
      [timer]="timer"
      (stopGame)="stopGame()"
    ></app-timer>
  </div>
</div>
