.game {
  font-size: 1.25rem;
  &__count-value {
    font-weight: bold;
    color: #e64124;
  }
  &__timer-choose {
    margin-right: 2rem;
  }
  &__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /*** Round Button component ***/
  &__action {
    cursor: pointer;
    border: none;

    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #e64124d7;
    color: #e6e0e0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;

    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: #e64124;
    }
  }
  &__clicker {
    background-color: #e64124;
  }
}
