<div class="game">
  <div class="game__count">
    <span>{{ count }}</span>
  </div>
  <div class="game__clicker clicker">
    <button
      class="clicker__start-button"
      *ngIf="!hasStarted"
      (click)="handleStartGameClick()"
    >
      start
    </button>
    <button
      class="clicker__click-button"
      *ngIf="hasStarted"
      (click)="handleCountClick()"
    >
      click
    </button>
  </div>
  <app-timer
    class="game__timer"
    [timer]="timer"
    (stopGame)="stopGame()"
  ></app-timer>
</div>
