@import "../../mixins.scss";
@import "../../palette.scss";

.game {
  font-size: 1.25rem;
  &__count {
    opacity: 0;
    @include fadein(0.7s, 0.7s);
  }
  &__clicks-count {
    font-weight: bold;
    color: $app-orange;
  }
  &__timer-choose {
    margin-right: 2rem;
  }
  &__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__timer-wrapper {
    display: flex;
    opacity: 0;
    @include fadein(0.7s, 1.4s);
  }

  /*** Round Button component ***/
  &__action {
    cursor: pointer;
    border: none;

    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: $app-orange;
    color: $app-light;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;

    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: $app-orange;
    }
  }
  &__starter {
    @include fadein(1.5s);
    background-color: $app-orangedark;
  }
}

/*** Custom Select component ***/
// (Reeeeally bad, TODO: need to find a better alternative later)
.timer-select {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  color: $app-light;
  // padding: 0.25rem 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  border: none;
  appearance: none;
  background-color: transparent;

  border-top: 3px solid #eee8e8;
  transition: all 0.3s ease-in-out;

  &::-ms-expand {
    display: none;
  }
  &:hover {
    background-color: $app-light;
    border-color: $app-cyan;
    color: $app-dark;
  }
  &:focus {
    outline: none;
    color: $app-dark;
    border-color: transparent;
    background-color: $app-light;
  }
  &__option {
    font-weight: normal;
  }
}
