@import "../palette.scss";

.app {
  background: linear-gradient(12deg, $app-dark, $app-medium);
  background-size: 400% 400%;
  animation: flow 10s ease infinite;

  color: $app-light;
  font-size: 16px;

  width: 100vw;
  display: flex;
  justify-content: center;

  &__content {
    min-height: 100vh;
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes flow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
