@import "../../mixins.scss";
@import "../../palette.scss";

.about {
  font-size: 1.25rem;
  &__welcome {
    font-size: 2.5rem;
  }
  &__welcome-text {
    @include fadein(2s);
  }
  &__welcome-title {
    color: $app-primary;
    @include fadein(0.7s, 0.8s);
  }
  &__info {
    padding: 1rem 0;
    @include fadein(0.7s, 1.6s);
  }
  &__separator {
    @include fadein(0.5s, 3s);
  }
  &__prompt {
    // padding: 1rem 0;
    @include fadein(0.5s, 3.2s);
  }
  &__ready {
    margin-right: 2rem;
  }
}
