.about {
  font-size: 1.25rem;
  &__welcome {
    font-size: 2.5rem;
  }
  &__welcome-title {
    color: #e64124;
  }
  &__paragraph {
    padding: 1rem 0;
  }
  &__ready {
    margin-right: 2rem;
  }
  &__enter {
    //
  }
}
