@import "../../mixins.scss";

.intro {
  font-size: 1.25rem;

  &__paragraph {
    padding: 1rem 0;
    &--initial {
      font-weight: bold;
      @include fadein(1s);
    }
    &--prompt {
      font-style: italic;
      @include fadein(1s, 0.6s);
    }
    &--info {
      @include fadein(1s, 1.6s);
    }
  }
  &__separator {
    @include fadein(0.6s, 2.2s);
  }
  &__input-wrapper {
    @include fadein(0.6s, 2.4s);
  }
  &__input {
    margin-right: 2rem;
  }
}
