<div class="intro">
  <p class="intro__paragraph intro__paragraph--initial">Alright!</p>
  <p class="intro__paragraph intro__paragraph--prompt">
    First off, do you mind telling me your name?
  </p>
  <p class="intro__paragraph intro__paragraph--info">
    (It's fine if you don't, I'll just call you <b>Alyx Vance</b> then)
  </p>
  <div class="intro__separator">
    <app-separator></app-separator>
  </div>
  <div class="intro__input-wrapper">
    <app-custom-input
      class="intro__input"
      [placeholder]="defaultName"
      [(inputModel)]="username"
    ></app-custom-input>
    <app-action-button
      class="intro__submit"
      [value]="'is my name'"
      (click)="handleNameClick($event)"
    >
    </app-action-button>
  </div>
</div>
