<div class="intro">
  <p>Alright!</p>
  <p>
    First off, do you mind telling me your name? (It's fine if you don't, I'll
    just call you <b>Alyx Vance</b> then).
  </p>
  <div class="intro__input-wrapper">
    <input
      class="intro__input"
      placeholder="{{ defaultName }}"
      type="text"
      [(ngModel)]="username"
    />
    <app-action-button
      class="intro__submit"
      [value]="'is my name'"
      (onClick)="handleNameClick($event)"
    >
    </app-action-button>
  </div>
</div>
