@import "../../mixins.scss";
@import "../../palette.scss";

.result {
  font-size: 1.25rem;
  &__info {
    padding: 1rem 0;
  }
  &__info-text {
    @include fadein(1s, 0.5s);
  }
  &__username {
    font-weight: bold;
    color: $app-primary;

    @include fadein(1s, 1.2s);
  }
  &__info:nth-child(2) {
    @include fadein(0.7s, 1.9s);
  }
  &__info:nth-child(3) {
    @include fadein(0.7s, 3.5s);
  }
  &__separator {
    @include fadein(0.6s, 4.2s);
  }
  &__again {
    width: 100%;
    display: flex;
    justify-content: center;
    @include fadein(0.6s, 4.7s);
  }
}
