@import "../../palette.scss";

.not-found {
  &__400 {
    font-size: 8rem;
    margin: 0;
  }
  &__paragraph {
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  &__link {
    color: $app-primary;
    &:hover {
      color: $app-primary-dark;
    }
  }
}
